{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px green;
            font-family: "Copperplate", fantasy;
            
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About easywebs-berlin.com</h5>
    <div class="card-body">
        <p class="card-text"> A group of professionals looking to produce the best web experience. The company is based in Berlin.Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.A group of professionals looking to produce the best web experience. The company is based in Berlin.Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Check out our Games App 1</a>
           <a href="https://djangocentral.com/building-a-blog-application-with-django"   
           class="btn btn-danger">Check out our Games App2</a>
           <a href="https://djangocentral.com/building-a-blog-application-with-django"   
           class="btn btn-danger">Check out our Games App3</a>
           
    </div>
</div>
</div>

{% endblock sidebar %}